body {
	background: url("../img/whitey.png") repeat scroll 0 0 #fff;
    background-size: 220px 220px;
}

#board-list, #task-list {
	list-style: none;
	padding: 0;
}

.task-form {
	display: inline-block;
	width: 83%;
}

.strike {
	text-decoration: line-through;
}

.ghost {
	opacity: .75;
}

.board-done {
	text-decoration: line-through;
	opacity: .75;
}

.container {
	background-color: #E7EBEE;
	height: 1000px;
	box-shadow: 0 0 53px 0 rgba(0,0,0,0.55);
}

.container .row {
	padding-top: 20px;
}

.main-board {
	background: #FFFFFF;
    box-shadow: -1px 1px 2px 0 #cccccc;
    margin-bottom: 16px;
    border-radius: 3px;
    background-clip: padding-box;
    height: auto; /*for now*/

}

.main-board .board-title {
	padding-right: 60%;
    line-height: 3;
}

.main-board header {
	padding: 13px 0px;
}

.main-board .board-plus-btn {
	position: absolute;
    top: 10px;
    right: 10px;
}
.editable-click, a.editable-click {
	line-height: 1;
    word-wrap: break-word;
}

form.form-horizontal {
    padding: 10px;
}

.form-horizontal .editable {
	padding-top: 0;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

li.task-li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    overflow: hidden;
    /*position: relative;*/
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition-duration: .218s;
    transition-duration: .218s;
    -webkit-transition-property: background,opacity, -webkit-box-shadow, -webkit-transform;
    transition-property: background,opacity,box-shadow,transform;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
	margin-top: 10px;
}

li.task-li .name{
	width: 85%;
    float: left;
}

li.task-li .actions{
	width: 13%;
    float: right;
    line-height: 3;
}

div#popover10667{
	top: -15px;
}